In [1]:
# set dependencies
import os
import csv
import requests
import time
import psycopg2
import pymongo

import pandas as pd

from flask_pymongo import PyMongo
from splinter import Browser
from bs4 import BeautifulSoup as bs
from flask import Flask, render_template, redirect


pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows=50

# National Parks Visitor table

In [2]:
# Get data table
tables=pd.read_html('https://www.nps.gov/aboutus/visitation-numbers.htm', index_col=0)
table=pd.DataFrame(tables[1])
table

                                   Park Recreational Visits
1   Great Smoky Mountains National Park        12.1 million
2             Yellowstone National Park         3,8 million
3                    Zion National Park         3.6 million
4          Rocky Mountain National Park         3.3 million
5             Grand Teton National Park         3.3 million
6            Grand Canyon National Park         2.9 million
7         Cuyahoga Valley National Park         2.8 million
8                  Acadia National Park         2.7 million
9                 Olympic National Park         2.5 million
10            Joshua Tree National Park         2.4 million

# Kaggel National Parks

In [4]:
parks=pd.read_csv('dataFiles/parks.csv')
parks.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

# Kaggel National Parks species

In [7]:
species=pd.read_csv('dataFiles/species.csv',index_col=0)
species.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
Species ID,,,,,,,,,,,,,
ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN